body {
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat:no-repeat;
  height: 667px;
}

.btn {
  position: absolute;
  cursor: pointer;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


