body {
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat:no-repeat;
  height: 667px;
}

.btn {
  position: absolute;
  cursor: pointer;

  left: 0px;
  top: 252px;
  width: 374px;
  height: 188px;
}

