body {
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 667px;
}

.back-btn {
  position: absolute;
  cursor: pointer;

  left: 20px;
  top: 20px;
  width: 14px;
  height: 23px;
}


#password {
  position: absolute;
  left: 0;
  top: 199px;
  width: 375px;
  height: 99px;
}
